/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-wpogc-open-graph-card {
// 	background-color: #21759b;
// 	color: #fff;
// 	padding: 2px;
// }

.og-card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.10);
//   transform: translateY(-1px);
  transform: scale(1.005);
//   transform: translateY(-1px) scale(1.01);
  .og-card-title {
	text-decoration: underline;
  }
}

// .og-card {
// 	// > div {
// 	// 	// this darkens the base color by 5%
// 	// 	// background-color: lch( from var(--wp--preset--color--base) calc(l - 5) 0 0);
// 	// 	// background-color: var(--wp--preset--color--accent-1);
// 	// }
// }

.wp-block-open-graph-card-og-card {
	// Default width for normal alignment
	// .og-card {
	// 	max-width: 500px;
	// 	width: 100%;
	// }

	.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	.alignright {
		margin-left: auto;
		margin-right: 0;
	}

	.alignleft {
		margin-right: auto;
		margin-left: 0;
	}

	.alignwide {
		.og-card {
			max-width: var(--wp--style--global--wide-size, 1200px); // Uses WordPress wide size
		}
	}

	.alignfull {
		.og-card {
			max-width: none; // Full width
			width: 100%;
		}
	}
}

