/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-wpogc-open-graph-card {
// 	background-color: #21759b;
// 	color: #fff;
// 	padding: 2px;
// }

.wpogc-card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.10);
//   transform: translateY(-1px);
  transform: scale(1.005);
//   transform: translateY(-1px) scale(1.01);
  .wpogc-title {
	text-decoration: underline;
  }
}

.wp-block-wpogc-open-graph-card {
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	.alignright {
		margin-left: auto;
		margin-right: 0;
	}

	.alignleft {
		margin-right: auto;
		margin-left: 0;
	}

	.alignwide,
	.alignfull {
		width: 100%;
		max-width: none;
		margin-left: auto;
		margin-right: auto;
	}
}

.aligncenter .wpogc-card {
  margin-left: auto;
  margin-right: auto;
}
.alignleft .wpogc-card {
  margin-right: auto;
}
.alignright .wpogc-card {
  margin-left: auto;
}